body {
    margin: 0;
    background: #ffeef8;
}

#game {
    position: relative;
    width: 800px;
    height: 700px;
    margin: 30px auto;
    background: white;
    overflow: hidden;
}

#character {
    position: absolute;
    width: 300px;
    left: 400px;
    top: 50px;
}
