html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffeef8;
}


/* MAIN GAME */

#game {
    position: relative;

    width: 1200px;
    height: 700px;

    margin: 0 auto;

    display: flex;

    background: white;

    overflow: hidden;
}


/* LEFT CLOTHING AREA */

#left-menu {
    position: relative;

    width: 250px;
    height: 700px;
}


/* CHARACTER AREA */

#character-area {
    position: relative;

    width: 700px;
    height: 700px;
}


/* RIGHT CLOTHING AREA */

#right-menu {
    position: relative;

    width: 250px;
    height: 700px;
}


/* CHARACTER */

#character {
    position: absolute;

    width: 250px;
    height: auto;

    left: 225px;
    top: 100px;

    user-select: none;
    pointer-events: none;
}


/* CLOTHING */

.clothing-item {
    position: absolute;

    width: 134px;
    height: auto;

    cursor: grab;

    user-select: none;

    z-index: 10;
}


/* SHIRTS */

/* First row */

#shirt1 {
    left: 5px;
    top: 30px;
}

#shirt2 {
    left: 65px;
    top: 30px;
}

#shirt3 {
    left: 125px;
    top: 30px;
}


/* Second row */

#shirt4 {
    left: 5px;
    top: 180px;
}

#shirt5 {
    left: 65px;
    top: 180px;
}

#shirt6 {
    left: 125px;
    top: 180px;
}


/* DRAGGING */

.clothing-item:active {
    cursor: grabbing;
}
